# SLU1 - Pandas 101: Exercise notebook

First things first, import:

In [1]:
import sys

In [2]:
sys.executable

'/usr/bin/python3'

In [3]:
sys.path

['/usr/lib/python36.zip',
 '/usr/lib/python3.6',
 '/usr/lib/python3.6/lib-dynload',
 '',
 '/usr/lib/python3.6/site-packages',
 '/usr/local/lib/python3.6/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.6/dist-packages/IPython/extensions',
 '/home/ines/.ipython']

In [4]:
!jupyter kernelspec list

Available kernels:
  python2    /home/ines/.local/share/jupyter/kernels/python2
  python3    /usr/local/share/jupyter/kernels/python3

In [1]:
import pandas as pd
import numpy as np
from hashlib import sha256
import json

ModuleNotFoundError: No module named 'pandas'

In this notebook the following is tested:

- Pandas Series
- Pandas DataFrames
- Printing the columns
- Load a dataset
- Preview a dataframe
- Make use of info and describe

## Exercise 1: Series

In this first exercise the goal is to get used to creating series.

#### 1.1) Create a series with the name of the football club champions of 2019:

In [3]:
# Create a series with the names of the football champions, using the order provided.
# Let pandas generate the index on its own. 
# Don't forget to delete the raise error

football_clubs_list = ['Barcelona', 'Benfica', 'Juventus', 'PSG', 'Manchester City']

# Create a series for the football_clubs, and call it football_clubs_series. 
football_clubs_series = pd.Series(football_clubs_list)

# YOUR CODE HERE
# raise NotImplementedError()

In [4]:
# run this cell to see the results 
football_clubs_series

0          Barcelona
1            Benfica
2           Juventus
3                PSG
4    Manchester City
dtype: object

In [5]:
assert len(football_clubs_series.index ) == 5 
assert ((football_clubs_series.values[3] == 'PSG') & (football_clubs_series.values[-1] =='Manchester City'))
assert (isinstance(football_clubs_series, pd.Series))

#### 1.2) Create a series for the countries of each football club (using the football clubs as index):

In [6]:
football_clubs_list = ['Barcelona', 'Benfica', 'Juventus', 'PSG', 'Manchester City']

country_list = ['Spain', 'Portugal', 'Italy', 'France', 'England']

# Create a series which has the football club as index, and the respective country as values. 
country_series = pd.Series(index=football_clubs_list, data=country_list)

In [7]:
# run this cell to see the results 
country_series

Barcelona             Spain
Benfica            Portugal
Juventus              Italy
PSG                  France
Manchester City     England
dtype: object

In [8]:
assert (isinstance(country_series, pd.Series))
assert(len(country_series==5))
assert(country_series[-3] == 'Italy')
assert(country_series.index[3] == 'PSG')

#### 1.3) Get an numpy array with the the index of the given series.

In [12]:
series = pd.Series(['Spain', 'Portugal', 'Italy', 'France', 'England'], 
                          index=['Barcelona', 'Benfica', 'Juventus', 'PSG', 'Manchester City'])

# Get an array with the indexes of the serie.
index_series = np.array(series.index)

In [13]:
# run this cell to see the results 
index_series

array(['Barcelona', 'Benfica', 'Juventus', 'PSG', 'Manchester City'],
      dtype=object)

In [14]:
assert (isinstance(index_series, np.ndarray))
assert(len(index_series==5))
assert(index_series[2] == 'Juventus')

## Exercise 2: DataFrames

In this exercise the goal is to create a simple DataFrame.

#### 2.1) Create a DataFrame with FootballClub/Country/TotalMarketValue columns

In [20]:
# Create a dataframe with 3 columns: FootballClub, Country, TotalMarketValue. 
# Let pandas create the index itself
# Make sure the columns are in the right order 
# winners_2019 must be the name of the final dataframe.

football_clubs_list = ['Barcelona', 'Benfica', 'Juventus', 'PSG', 'Manchester City']

country_list = ['Spain', 'Portugal', 'Italy', 'France', 'England']

totalmarketvalue_list = [1070.0, 365.50, 745.50, 922.25, 1170.0]

# in one line, build the dataframe, using a dictionary to tell it what should be the column names
# remember to give the columns the right names, or it won't pass the asserts
winners_2019 = pd.DataFrame({
    'FootballClub': football_clubs_list,
    'Country': country_list,
    'TotalMarketValue': totalmarketvalue_list
}, columns = ['FootballClub', 'Country', 'TotalMarketValue'])

In [21]:
# The expected output is a dataframe with columns named
# "FootballClub", "Country" and "TotalMarketValue", indexed from 0 to 4.
winners_2019

      FootballClub   Country  TotalMarketValue
0        Barcelona     Spain           1070.00
1          Benfica  Portugal            365.50
2         Juventus     Italy            745.50
3              PSG    France            922.25
4  Manchester City   England           1170.00

In [22]:
assert(isinstance(winners_2019, pd.DataFrame))
assert(winners_2019.shape == (5, 3))
assert(winners_2019.iloc[3, 1] == 'France')
assert(winners_2019.columns[2] == 'TotalMarketValue')

#### 2.2) Create a DataFrame with the Country/TotalMarketValue columns, but with FootballClub as row indexes

In [24]:
# Create a dataframe with columns Country and TotalMarketValue (in that order), but use FootballClub as index
# winners_2019_ind must be the name of the final dataframe.

football_clubs_list = ['Barcelona', 'Benfica', 'Juventus', 'PSG', 'Manchester City']

country_list = ['Spain', 'Portugal', 'Italy', 'France', 'England']

totalmarketvalue_list = [1070.0, 365.50, 745.50, 922.25, 1170.0]

# Use the lists to create Series for Country and TotalMarketValue
# Hint: use the argument index

country_series = pd.Series(country_list, index = football_clubs_list)

totalmarketvalue_series = pd.Series(totalmarketvalue_list, index = football_clubs_list)

# Finally create the DataFrame, using a dictionary. This should only be 1 line of code. 
winners_2019_ind = pd.DataFrame({
    'Country': country_series,
    'TotalMarketValue': totalmarketvalue_series
})

In [25]:
# run this cell to see the results 
# The expected output is a dataframe with columns named "Country", "TotalMarketValue", indexed with the correct football clubs.
winners_2019_ind

                  Country  TotalMarketValue
Barcelona           Spain           1070.00
Benfica          Portugal            365.50
Juventus            Italy            745.50
PSG                France            922.25
Manchester City   England           1170.00

In [26]:
assert(isinstance(winners_2019_ind, pd.DataFrame))
assert(winners_2019_ind.shape == (5, 2))
assert(winners_2019_ind.index[3] == 'PSG')
assert(winners_2019_ind.columns[1] == 'TotalMarketValue')
backup_winners_2019_ind = winners_2019_ind.copy()

## Exercise 3: Load the zomato dataset


In this exercise you will load the zomato data set.

You will then preview it and retrieve some information.

#### 3.1) Load the data set

In [27]:
# Load the zomato data set
# it is located at data/zomato_restaurants.csv
zomato_df = pd.read_csv('data/zomato_restaurants.csv')

In [28]:
# print head it to get an idea of what you've just loaded 
zomato_df.head()

,id,name,locality,city,cuisines,establishment,average_cost_for_two,all_reviews_count,photo_count,has_table_booking,has_online_delivery,aggregate_rating,votes,timings
0,18487870,Boa-Bao,Chiado,Lisboa,"Oriental, Thai, Malaysian, Filipino, Vietnames...",Casual Dining,40,1521,3733,0,0,4.9,3943,"12:00 a 23:00 (Seg, Ter, Qua, Qui, Dom), 12:00..."
1,18550207,SOI,Cais do Sodré,Lisboa,"Chinese, Oriental, Japanese, Vietnamese, Korea...",Casual Dining,45,480,1363,0,0,4.3,1168,"12 Noon to 12 Midnight (Mon-Thu, Sun), 12 Noon..."
2,8212998,Ground Burger,Praça de Espanha,Lisboa,"Burger, American",Casual Dining,40,1430,2337,0,0,4.5,3000,12 Noon a 12 Midnight
3,18301225,Amaterasu Pateo do Sushi,Algés,Lisboa,"Sushi, Japanese",Casual Dining,40,676,1094,0,0,4.5,1615,"12:00 a 15:30, 19:00 a 23:30 (Seg-Dom)"
4,18605050,Contrabando,Santos,Lisboa,"American, Latin American, BBQ, Steak",Casual Dining,30,372,1117,1,0,4.3,869,"Seg-Qui, Dom (12 Noon to 11:59 PM), Sex-Sáb (1..."

In [29]:
assert(isinstance(zomato_df, pd.DataFrame))
assert(zomato_df.shape == (600, 14))

#### 3.2) Load the data set with an index defined

In [30]:
# Load the zomato data set ans set the index the "id" column 
# (check the documentatio: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)
# it is located at data/zomato_restaurants.csv
zomato_df_ind = zomato_df.set_index('id', drop=True)

In [31]:
# print head it to get an idea of what you've just loaded 
zomato_df_ind.head()

,name,locality,city,cuisines,establishment,average_cost_for_two,all_reviews_count,photo_count,has_table_booking,has_online_delivery,aggregate_rating,votes,timings
id,,,,,,,,,,,,,
18487870,Boa-Bao,Chiado,Lisboa,"Oriental, Thai, Malaysian, Filipino, Vietnames...",Casual Dining,40,1521,3733,0,0,4.9,3943,"12:00 a 23:00 (Seg, Ter, Qua, Qui, Dom), 12:00..."
18550207,SOI,Cais do Sodré,Lisboa,"Chinese, Oriental, Japanese, Vietnamese, Korea...",Casual Dining,45,480,1363,0,0,4.3,1168,"12 Noon to 12 Midnight (Mon-Thu, Sun), 12 Noon..."
8212998,Ground Burger,Praça de Espanha,Lisboa,"Burger, American",Casual Dining,40,1430,2337,0,0,4.5,3000,12 Noon a 12 Midnight
18301225,Amaterasu Pateo do Sushi,Algés,Lisboa,"Sushi, Japanese",Casual Dining,40,676,1094,0,0,4.5,1615,"12:00 a 15:30, 19:00 a 23:30 (Seg-Dom)"
18605050,Contrabando,Santos,Lisboa,"American, Latin American, BBQ, Steak",Casual Dining,30,372,1117,1,0,4.3,869,"Seg-Qui, Dom (12 Noon to 11:59 PM), Sex-Sáb (1..."

In [32]:
assert(isinstance(zomato_df_ind, pd.DataFrame))
assert(zomato_df_ind.shape == (600, 13))

#### 3.3) Get general information about the dataframe

In [33]:
# Print zomato_df_ind info
# reminder: jupyter just prints out the last output, 
# so you don't need to use a print statement

zomato_df_ind

,name,locality,city,cuisines,establishment,average_cost_for_two,all_reviews_count,photo_count,has_table_booking,has_online_delivery,aggregate_rating,votes,timings
id,,,,,,,,,,,,,
18487870,Boa-Bao,Chiado,Lisboa,"Oriental, Thai, Malaysian, Filipino, Vietnames...",Casual Dining,40,1521,3733,0,0,4.9,3943,"12:00 a 23:00 (Seg, Ter, Qua, Qui, Dom), 12:00..."
18550207,SOI,Cais do Sodré,Lisboa,"Chinese, Oriental, Japanese, Vietnamese, Korea...",Casual Dining,45,480,1363,0,0,4.3,1168,"12 Noon to 12 Midnight (Mon-Thu, Sun), 12 Noon..."
8212998,Ground Burger,Praça de Espanha,Lisboa,"Burger, American",Casual Dining,40,1430,2337,0,0,4.5,3000,12 Noon a 12 Midnight
18301225,Amaterasu Pateo do Sushi,Algés,Lisboa,"Sushi, Japanese",Casual Dining,40,676,1094,0,0,4.5,1615,"12:00 a 15:30, 19:00 a 23:30 (Seg-Dom)"
18605050,Contrabando,Santos,Lisboa,"American, Latin American, BBQ, Steak",Casual Dining,30,372,1117,1,0,4.3,869,"Seg-Qui, Dom (12 Noon to 11:59 PM), Sex-Sáb (1..."
18663838,Amélia Lisboa,Campo de Ourique,Lisboa,"Desserts, Juices, Healthy Food, Finger Food",Café,20,731,1820,0,0,4.6,1799,09:00 a 21:00 (Seg-Dom)
18393793,Polpetta - Almondegaria Artesanal,Arroios,Lisboa,"Portuguese, Healthy Food",Casual Dining,25,514,1121,1,0,4.6,1184,"12:00 a 15:00, 19:30 a 22:30 (Seg-Sáb),Fechado..."
18581804,Jamie's Italian,Príncipe Real,Lisboa,Italian,Casual Dining,40,647,1920,0,0,4.4,1478,"12 Noon to 11 PM (Mon-Thu, Sun), 12 Noon to 12..."
8204902,Siesta,Algés,Lisboa,Mexican,Casual Dining,50,1214,2144,0,0,4.1,3102,"12 Noon to 1 AM (Mon-Fri), 12:30 PM to 1 AM (S..."
18570049,Mez Cais LX,"LX Factory, Alcântara",Lisboa,"Mexican, Beverages",Casual Dining,30,401,716,1,0,4.1,928,"12:00 – 24:00 (Mon, Tue, Wed, Thu, Sun), 12:00..."
18425560,O Quintal,Venteira,Lisboa,"Petiscos, Portuguese, Mediterranean",Casual Dining,35,663,1819,1,0,4.5,1385,"12:30 PM to 3 PM, 7:30 PM to 11 PM"
18677130,Zenith Brunch & Cocktail,Pena,Lisboa,"Healthy Food, Vegetarian, Juices, International",Quick Bites,25,447,1102,0,0,4.6,1152,9 AM to 7 PM
18619569,Soão - Taberna Asiática,Alvalade,Lisboa,"Korean, Chinese, Japanese, Indian, Vietnamese,...",Casual Dining,60,309,933,0,0,4.7,871,"12:30 PM a 3:30 PM, 7:30 PM a 11 PM (Seg-Qui),..."
18551785,Zero Zero - Parque das Nações,Parque das Nações,Lisboa,"Pizza, Italian",Casual Dining,50,569,1141,0,0,4.4,1303,12 Noon to 12 Midnight
18719249,The Green Affair,Saldanha,Lisboa,"Contemporary, Healthy Food, Vegetarian",Casual Dining,20,172,390,1,0,4.5,493,12:00 a 23:00 (Seg-Dom)
18335531,Nómada,Campo Pequeno,Lisboa,"Sushi, Contemporary",Casual Dining,60,474,1369,1,0,4.9,1248,"12:30 PM a 3 PM, 7:30 PM a 11 PM (Seg-Qui), 12..."
8210567,Atalho Real,Príncipe Real,Lisboa,"Steak, Burger",Casual Dining,45,1470,2466,0,0,4.7,3603,"12 Noon a 12 Midnight (Seg-Qua, Dom), 12 Noon ..."
8202867,Psi,Pena,Lisboa,Vegetarian,Casual Dining,30,687,1701,1,0,4.6,1785,"12:30 PM to 3:30 PM, 7:30 PM to 10:30 PM (Mon-..."
18463068,SushiNow,Parque das Nações,Lisboa,"Japanese, Sushi",Casual Dining,45,400,902,0,0,4.5,1018,"12:30 PM to 3 PM, 7:30 PM to 11 PM (Ter-Sex, D..."
8213530,The Old House,Parque das Nações,Lisboa,Chinese,Fine Dining,60,582,1489,0,0,4.7,1231,"12 Noon a 3 PM, 7 PM a 11 PM"
8214506,Ribs & Company,Odivelas Centro,Lisboa,"American, Steak, Burger",Casual Dining,25,898,2064,0,0,4.5,2006,"12 Noon a 3 PM, 7 PM a 11 PM (Ter-Qui), 12 Noo..."
18594986,Kin,Mouraria,Lisboa,"Oriental, Beverages",Casual Dining,40,203,648,1,0,4.5,534,"8 PM to 12 Midnight (Mon-Sat), Sun Closed"
8213440,Sala de Corte,Cais do Sodré,Lisboa,Steak,Casual Dining,60,555,1447,0,0,4.7,1211,"12:00 a 16:00, 19:00 a 24:00 (Seg-Qui),12:00 a..."
18401933,The B Temple,Chiado,Lisboa,"Burger, Finger Food",Casual Dining,30,988,1906,1,0,4.6,2304,Seg-Dom (12 Noon to 11:59 PM)
8213881,Don Costini,Saldanha,Lisboa,"Pizza, Burger, Italian, American, Gourmet Fast...",Casual Dining,25,534,960,1,0,4.0,1044,"12:00 a 16:00, 19:00 a 23:00 (Seg, Ter, Qua, D..."
8202270,Italy - Lisbona Caffé,Saldanha,Lisboa,"Italian, Pizza",Casual Dining,35,759,1422,1,0,4.4,1807,12 Noon to 12 Midnight
18446907,Heim Cafe,Santos,Lisboa,"Cafe, Healthy Food, Tea",Café,20,557,1155,0,0,4.6,1317,"09:00 – 15:00 (Mon),09:00 – 18:00 (Tue-Sun)"
8203651,Las Ficheras,Cais do Sodré,Lisboa,"Mexican, Beverages",Casual Dining,40,1115,2006,1,0,4.1,2513,"11 AM to 1 AM (Mon-Thu, Sun), 11 AM to 2 AM (F..."
18275215,Butchers,Parque das Nações,Lisboa,"Steak, Burger, Grill",Casual Dining,40,1012,1772,0,0,4.6,2411,"12:00 a 15:00, 19:00 a 23:00 (Seg-Qua),12:00 a..."
8201924,Jardim dos Sentidos,Avenida da Liberdade,Lisboa,"Vegetarian, Healthy Food",Casual Dining,35,580,1241,1,0,4.6,1423,"12:00 a 15:00, 19:00 a 22:30 (Seg-Sex),12:30 a..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16548152,Necci,Pigneto,Roma,"Cafe, Italian, Desserts",Casual Dining,50,38,59,0,0,4.3,57,08:00 to 02:00 (Mon-Sun)
18017771,TED (Lobster & Burger),Prati,Roma,"Burger, Seafood",Casual Dining,65,26,84,0,0,4.1,29,12:00 to 02:00 (Mon-Sun)
16556403,Queen Makeda,Aventino - Circo Massimo,Roma,"Fusion, Burger, Asian, Italian",Pub,40,35,150,0,0,4.2,44,"12:00 to 15:00, 18:00 to 02:00 (Mon-Sat),12:30..."
16553673,Maharajah,Monti,Roma,Indian,Casual Dining,60,36,35,0,0,4.4,62,"12:00 to 15:00, 19:00 to 23:00 (Mon-Sun)"
16554679,Panella,Esquilino - Termini,Roma,"Cafe, Bakery, Desserts, Italian",Café,20,34,72,0,0,4.3,53,08:00 to 23:00 (Mon-Sun)
16556570,Sushisen,Testaccio,Roma,"Sushi, Japanese, Asian",Casual Dining,50,23,207,0,0,4.4,36,"Closed (Mon),12:30 to 14:30, 19:30 to 23:00 (T..."
16553728,L'Antica Birreria Peroni,Fontana di Trevi,Roma,"Burger, German, Roman, Italian",Casual Dining,60,28,118,0,0,4.3,51,"12:00 to 24:00 (Mon-Sat),Closed (Sun)"
16556414,Pizzarium,Trionfale,Roma,"Street Food, Pizza",Quick Bites,20,37,1282,0,0,4.6,52,"11:00 to 22:00 (Mon-Sat),12:00 to 16:00, 18:00..."
16556797,Pastasciutta,Borgo,Roma,"Home-made, Italian",Quick Bites,10,29,74,0,0,4.5,48,10:30 to 18:30 (Mon-Sun)
16556150,Pizzeria ai Marmi,Trastevere,Roma,"Pizza, Roman",Pizzeria,50,39,231,0,0,4.2,60,"19:00 to 02:00 (Mon, Tue, Thu, Fri, Sat, Sun),..."
16553594,Krishna 13,Esquilino - Termini,Roma,Indian,Casual Dining,40,29,84,0,0,4.2,49,"11:00 to 15:30, 19:00 to 23:30 (Mon-Sun)"
16555308,Doppiozeroo,Ostiense,Roma,"Cafe, Pizza, Tavola Calda, Italian",Bistro,65,49,285,0,0,4.4,66,"07:00 to 01:30 (Mon-Sat),12:30 to 01:30 (Sun)"
17759043,Da Simo Pane e Vino,Navona - Pantheon,Roma,Panini,Quick Bites,20,5,124,0,0,3.8,9,"11:00 to 21:00 (Mon, Tue, Wed, Thu, Sun), 11:0..."
16553845,Da Enzo al 29,Trastevere,Roma,"Roman, Italian",Casual Dining,50,26,218,0,0,4.5,55,"12:30 to 15:00, 19:30 to 23:00 (Mon-Sat),Close..."
16549853,Cul de Sac,Navona - Pantheon,Roma,Italian,Casual Dining,40,27,361,0,0,4.6,54,12:00 to 00:30 (Mon-Sun)
16555005,Gusto,Spagna,Roma,"Pizza, Burger, Italian",Casual Dining,70,38,31,0,0,4.2,56,12:00 to 23:00 (Mon-Sun)
16554241,La Prosciutteria,Fontana di Trevi,Roma,Tavola Fredda,Casual Dining,40,24,699,0,0,4.5,47,11:30 to 23:30 (Mon-Sun)
16551915,Come Il Latte,Veneto,Roma,"Ice Cream, Crepes, Desserts",Ice Cream Shop,6,36,253,0,0,4.5,56,"11:00 to 24:00 (Mon-Thu),11:00 to 01:00 (Fri-S..."
16556116,C1b0,Monte Sacro,Roma,"Burger, American",Bistro,40,37,173,0,0,4.3,50,12:30 to 02:00 (Mon-Sun)
16549140,La Pergola - Rome Cavalieri,"Rome Cavalieri, Trionfale",Roma,"Haute Cuisine, Italian",Fine Dining,300,16,68,0,0,4.4,31,"Closed (Mon, Sun), 19:30 to 23:30 (Tue-Sat)"
16551780,Bar Celestino,San Lorenzo,Roma,"Cafe, Tavola Fredda",Bar - Caffe,10,61,45,0,0,4.3,65,06:30 to 01:00 (Mon-Sun)
16555292,Maranega,Campo de' Fiori,Roma,"Cafe, Pizza, Roman, Italian",Casual Dining,50,22,70,0,0,4.2,27,08:00 to 02:00 (Mon-Sun)
16554302,Nonna Betta,Ghetto,Roma,"Jewish, Roman, Italian, Middle Eastern",Casual Dining,60,21,102,0,0,4.4,41,"12:00 to 23:00 (Mon, Wed, Thu, Fri, Sat, Sun),..."
16551093,Tre Scalini,Navona - Pantheon,Roma,"Roman, Ice Cream, Cafe, Italian",Casual Dining,70,26,396,0,0,4.5,32,11:00 to 23:00 (Mon-Sun)
16554645,That's Amore,Fontana di Trevi,Roma,"Pizza, Roman, Seafood, Italian",Casual Dining,70,24,166,0,0,4.4,47,12:00 to 24:00 (Mon-Sun)
16551782,Old Bridge,Prati,Roma,Ice Cream,Ice Cream Shop,6,35,299,0,0,4.3,53,"09:00 to 24:00 (Mon-Sat),14:00 to 02:00 (Sun)"
16556252,Said,San Lorenzo,Roma,"Desserts, Italian",Bistro,60,27,48,0,0,4.4,40,"10:00 to 00:30 (Mon-Thu),10:00 to 01:30 (Fri-S..."
16549280,100 Montaditos,Farnesina,Roma,"Panini, Spanish",Casual Dining,20,42,937,0,0,4.3,46,11:00 to 24:00 (Mon-Sun)
16553285,Oppio Caffè,Colosseo,Roma,"Cafe, Burger, American, Italian",Café,10,28,141,0,0,4.2,46,07:00 to 02:00 (Mon-Sun)
17877644,We Food - Eat Love Drink,Policlinico,Roma,"Steak, BBQ, Burger",Casual Dining,40,18,70,0,0,4.5,24,"Closed (Mon),11:00 to 02:00 (Tue-Sun)"

In [39]:
# How many columns of type "int" exists?

count_int = sum(zomato_df_ind.dtypes == int)

In [40]:
hash_count = 'e7f6c011776e8db7cd330b54174fd76f7d0216b612387a5ffcfb81e6f0919683'

assert (hash_count == sha256(str(count_int).encode()).hexdigest())

#### 3.4) Preview the top 7 entries

In [41]:
# Print the top 7 entries of zomato_df_ind

zomato_df_ind_top = zomato_df_ind.head(7)

In [42]:
assert (zomato_df_ind_top.shape == (7,13))

#### 3.5) Preview the bottom 3 entries

In [43]:
# Print the bottom 3 entries of zomato_df_ind

zomato_df_ind_bottom = zomato_df_ind.tail(3)

In [44]:
assert (zomato_df_ind_bottom.shape == (3,13))

###### 3.6) Use a method to determine all the types os data in zomato_df_ind

In [45]:
# Print the type of data in zomato_df_ind

zomato_df_ind.dtypes

name                     object
locality                 object
city                     object
cuisines                 object
establishment            object
average_cost_for_two      int64
all_reviews_count         int64
photo_count               int64
has_table_booking         int64
has_online_delivery       int64
aggregate_rating        float64
votes                     int64
timings                  object
dtype: object

#### 3.7) Print the number of rows and the number of columns

In [46]:
# Get the nr_rows and nr_cols from zomato_df_ind, using a method

nr_rows = zomato_df_ind.shape[0]
nr_cols = zomato_df_ind.shape[1]

print("There are {} rows and {} columns.".format(nr_rows, nr_cols))

There are 600 rows and 13 columns.

In [47]:
assert (nr_rows == 600 )
assert (nr_cols == 13 )

#### 3.8) Get the array of column names

In [48]:
# Create an array with the column names of zomato_df_ind.
# there is, as always, a method for this 

zomato_df_columns = zomato_df_ind.columns

In [49]:
print(zomato_df_columns)

Index([u'name', u'locality', u'city', u'cuisines', u'establishment',
       u'average_cost_for_two', u'all_reviews_count', u'photo_count',
       u'has_table_booking', u'has_online_delivery', u'aggregate_rating',
       u'votes', u'timings'],
      dtype='object')

The expected output is an array with 'name', 'locality', 'city', 'cuisines', 'establishment','average_cost_for_two', 'all_reviews_count', 'photo_count', 'has_table_booking', 'has_online_delivery', 'aggregate_rating', 'votes','timings'.

In [50]:
assert (zomato_df_columns[1] == 'locality' )
assert (len(zomato_df_columns) == 13)

#### 3.9) Making use of describe() what is the standard deviation value of the votes?

In [52]:
# Print zomato_df_ind describe

zomato_df_ind.describe()

,average_cost_for_two,all_reviews_count,photo_count,has_table_booking,has_online_delivery,aggregate_rating,votes
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000
mean,2327.295000,170.311667,450.480000,0.118333,0.120000,3.910667,367.405000
std,7716.362878,258.212511,621.216338,0.323272,0.325233,1.263836,594.930687
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,5.000000,12.750000,0.000000,0.000000,3.900000,12.750000
50%,40.000000,78.000000,223.000000,0.000000,0.000000,4.300000,143.500000
75%,100.000000,241.250000,616.750000,0.000000,0.000000,4.500000,461.750000
max,50000.000000,2640.000000,4464.000000,1.000000,1.000000,4.900000,5703.000000

In [53]:
# Manually input the standard deviation value of the votes
# yep, that simple. No tricks here :) 

votes_std = 594.930687

In [54]:
print("Standard deviation value of the votes is {}.".format(votes_std))

Standard deviation value of the votes is 594.930687.

In [55]:
assert 594 < votes_std < 595